@import url(https://fonts.google.com/specimen/Bree+Serif?preview.text=TripU&preview.size=30&stroke=Serif);
@import url(https://fonts.google.com/specimen/Open+Sans?preview.text=TripU&query=open+san&stroke=Sans+Serif);
/*HEADER*/
header {
    text-align: center;
    background-color: #007bff;
    padding: 0.625rem;
    position: relative;
}
img {
    position: relative;
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.125rem 0.9375rem;
    background-color: transparent;  
}
h1 {
    color: #fff;
    font-size: 1.5rem;
}
.engrenagem {
    position: absolute;
    top: -0.0075rem;
    left: 0.00625rem;
    width: 3rem;
}
.perfil {
    position: absolute;
    top: -0.014375rem;
    right: 0.03125rem;
    width: 3rem;
}
.meu-botao {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #004FA3;
    border: none;
    border-radius: 0.9375rem;
    font-family:'Slab',serif;
}

.meu-botao:hover {background-color: #D9E9FA}

/*MAIN*/
main {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.875rem;

}
#img_cambio{
    width: 7rem;
    height: auto; 
    top: -2rem;
    max-width: 100%; 
    max-height: 100vh; 
    object-fit: contain;
    margin-bottom: -1.875rem;
}
.linha{
    flex-direction: row;
    display: flex;
}
.coluna-botao {
    display: flex;
    flex-direction: column;
    width: 5rem;
    align-items: center;
    margin-top: 1.5625rem;
  }

#input_2{
    width: 5rem;
    margin-bottom: 0;
}
#input_3{
    width: 5rem;
    margin-bottom: 0;
}
#p_2{
    margin-bottom: 0.4375rem;
    margin-top: auto;
}
#p_4{
    margin-bottom: 0.4375rem;
    margin-top: auto;
}
p{
    margin-bottom: 0.5rem;
    margin-top: 0.125rem;
    font-family: 'Humanista',sans-serif;

}
#p_3{
    margin-top: 1rem;
}
input{
    margin-top: 0.4375rem;
}
#botao_trocar{
    margin-top: 1.25rem;
    padding: 0.3125rem; 
    text-align: center;
    background-color: #307CCF; 
    color: white;
    border: none;
    cursor: pointer;
    width: 4.375rem; 
    height: 1.875rem;
    box-sizing: border-box; 
    font-size: 0.625rem;
    text-decoration: none;
    border-radius: 1rem;
    font-family: 'Humanista',sans-serif;
}
.botao {
    margin-top: 0.1875rem;
    padding: 0.3125rem; 
    text-align: center;
    background-color: #307CCF; 
    color: white;
    border: none;
    cursor: pointer;
    width: 50%; 
    box-sizing: border-box; 
    font-size: 0.625rem;
    text-decoration: none;
    border-radius: 1rem;
  }
select{
    margin-bottom: 0;
    width: 9.375rem;
    height: 1.5625rem;
    font-family: 'Humanista',sans-serif;
}
/*FOOTER*/
footer{
    background-color:#307CCF;
        color: white;
        text-align: center;
        padding: 0.625rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        display:flex;
        justify-content: space-between;
}
.lupa {
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
    width: 10%;
}
#ul_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
